@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=League+Spartan:wght@100..900&display=swap');

body {
	margin: 0;
	padding: 0;
	font-family: 'League Spartan', sans-serif;
	font-size: 16px;
	background-color: rgb(7, 7, 36);
	color: rgb(214, 214, 214);
	background: rgb(7, 7, 36) url('../../assets/images/background-stars.svg')
		repeat top center / cover;
	line-height: 150%;
	min-height: 100vh;
}

.outer-wrapper {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

h1 {
	font-family: 'Antonio', sans-serif;
	font-size: 80px;
	text-transform: uppercase;
}

h2 {
	font-family: 'Antonio', sans-serif;
	font-size: 40px;
	text-transform: uppercase;
}

h3 {
	font-family: 'League Spartan', sans-serif;
	font-weight: bold;
	font-size: 12px;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

h4 {
	font-family: 'League Spartan', sans-serif;
	font-weight: bold;
	font-size: 11px;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

.button {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: white;
	background-color: rgb(7, 7, 36);
	height: 48px;
	width: 350px;
	letter-spacing: 2.75px;
	border: 1px solid rgba(214, 214, 214, 0.5);
	cursor: pointer;
	margin: 15px 0;
}

.button-icon {
	width: 20px;
	height: 20px;
	border-radius: 50%;
}

/* Dynamic Colours START */

#mercury,
.mercury .active {
	background-color: rgb(65, 158, 187);
}

.mercury .mobile-inner-nav h4:hover {
	border-bottom: 4px solid rgb(65, 158, 187);
}

#venus,
.venus .active {
	background-color: rgb(237, 162, 73);
}

.venus .mobile-inner-nav h4:hover {
	border-bottom: 4px solid rgb(237, 162, 73);
}

#earth,
.earth .active {
	background-color: rgb(109, 46, 213);
}

.earth .mobile-inner-nav h4:hover {
	border-bottom: 4px solid rgb(109, 46, 213);
}

#mars,
.mars .active {
	background-color: rgb(209, 76, 50);
}

.mars .mobile-inner-nav h4:hover {
	border-bottom: 4px solid rgb(209, 76, 50);
}

#jupiter,
.jupiter .active {
	background-color: rgb(216, 58, 52);
}

.jupiter .mobile-inner-nav h4:hover {
	border-bottom: 4px solid rgb(216, 58, 52);
}

#saturn,
.saturn .active {
	background-color: rgb(205, 81, 32);
}

.saturn .mobile-inner-nav h4:hover {
	border-bottom: 4px solid rgb(205, 81, 32);
}

#uranus,
.uranus .active {
	background-color: rgb(30, 193, 162);
}

.uranus .mobile-inner-nav h4:hover {
	border-bottom: 4px solid rgb(30, 193, 162);
}

#neptune,
.neptune .active {
	background-color: rgb(45, 104, 240);
}

.neptune .mobile-inner-nav h4:hover {
	border-bottom: 4px solid rgb(45, 104, 240);
}

/* Dynamic Colours END */

.button:hover {
	background-color: rgb(131, 131, 145);
}

.button-number {
	color: rgba(255, 255, 255, 0.5);
	padding-left: 10px;
}

.button h3 {
	text-transform: uppercase;
}

nav {
	height: 70px;
	border-bottom: 1px solid rgba(131, 131, 145, 0.5);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 25px;
	text-transform: uppercase;
}

nav h1 {
	font-size: 28px;
}

nav a {
	color: rgb(214, 214, 214);
	text-decoration: none;
	cursor: pointer;
}

nav a:hover {
	color: white;
}

#hamburger-menu {
	cursor: pointer;
}

.mobile-main-nav {
	height: 100vh;
	display: flex;
	flex-direction: column;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 600;
	letter-spacing: 2px;
	align-items: center;
	margin-top: 50px;
}

.mobile-nav-button {
	width: 93%;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid rgba(131, 131, 145, 0.5);
	margin-bottom: 10px;
	cursor: pointer;
}

.mobile-nav-button:hover {
	color: rgba(255, 255, 0, 0.575);
}

.mobile-inner-nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 48px;
	border-bottom: 1px solid rgba(131, 131, 145, 0.5);
}

.mobile-inner-nav h4 {
	padding: 18px;
	border-bottom: 4px solid transparent;
	cursor: pointer;
}

.mobile-inner-nav h4:hover {
	border-bottom: 4px solid rgb(65, 158, 187);
}

.planet-text {
	width: 350px;
	text-align: center;
}

#geology-image {
	position: absolute;
	bottom: -41px;
	left: 131px;
	width: 138px;
	height: auto;
}

.source,
.source a,
.info-box {
	color: rgba(214, 214, 214, 0.6);
}

.box-wrapper {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.info-box {
	width: 330px;
	height: 50px;
	border: 1px solid rgba(131, 131, 145, 0.5);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	text-transform: uppercase;
	font-size: 14px;
	margin: 8px 0;
}

.info-box h2 {
	color: white;
	font-size: 22px;
}

footer {
	margin-top: 100px;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	padding: 10px;
	width: 100%;
	text-align: center;
	bottom: 0;
}

footer a {
	color: rgba(255, 255, 0, 0.575);
}

footer a:hover {
	color: rgb(255, 80, 80);
	text-decoration: none;
}

@media screen and (min-width: 768px) {
	.wrapper {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 30px;
	}

	.planet-text {
		text-align: left;
	}

	nav {
		flex-direction: column;
		padding: 20px;
		height: 130px;
	}

	nav a {
		padding: 0;
	}

	.box-wrapper {
		flex-direction: row;
		justify-content: center;
	}

	.info-box {
		height: 80px;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		width: 170px;
		margin: 10px;
	}
}

@media screen and (min-width: 1200px) {
	body {
		font-size: larger;
	}

	.outer-wrapper {
		flex-direction: row;
		justify-content: space-evenly;
	}

	nav {
		flex-direction: row;
		height: 100px;
	}

	nav a {
		padding: 0 20px;
	}

	#planet-image {
		width: 450px;
	}

	.wrapper {
		width: 350px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 30px;
	}

	.info-box {
		height: 100px;
		width: 300px;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		margin: 20px;
	}

	.info-box h2 {
		font-size: 40px;
	}

	#geology-image {
		position: absolute;
		bottom: -75px;
		left: 128px;
		width: 195px;
		height: auto;
	}

	nav a {
		padding-top: 35px;
		border-top: 6px solid transparent;
	}
	.mercury nav a:hover {
		border-top: 6px solid rgb(65, 158, 187);
	}
	.venus nav a:hover {
		border-top: 6px solid rgb(237, 162, 73);
	}
	.earth nav a:hover {
		border-top: 6px solid rgb(109, 46, 213);
	}
	.mars nav a:hover {
		border-top: 6px solid rgb(209, 76, 50);
	}
	.jupiter nav a:hover {
		border-top: 6px solid rgb(216, 58, 52);
	}
	.saturn nav a:hover {
		border-top: 6px solid rgb(205, 81, 32);
	}
	.uranus nav a:hover {
		border-top: 6px solid rgb(30, 193, 162);
	}
	.neptune nav a:hover {
		border-top: 6px solid rgb(45, 104, 240);
	}
}
